.hero-component {
    h1 {
        @extend .strong;
        font-size: 4.3rem;
        margin-top: 132px;
        margin-bottom: 0px;
    }

    p {
        color: $text-color;
        font-size: 1.3rem;
        margin-bottom: 45px;
    }

    .hero-image {
        margin-top: 65px;
    }
}
