<!-- advanced statistics -->
<div class="advanced-statistics">
    <div class="container">
        
        <div class="cyan-stick"></div>

        <div class="centerpiece">
            <h2>
                {{@content.caption}}
            </h2>
            <p class="regular">
                {{@content.sub-text}}
            </p>
        </div>

        <Elem::Card @content = {{@content.cards}} />
    </div>
</div>